html,
body {
  margin: 0;
  padding: 0;
  min-width: 1140px;
  background-color: #26262b
}

#Home {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

#Navbar {
  background-color: #6cb1ff;
  display: flex;
  position: fixed;
  width: 100%;
}

#Navbar h2 {
  margin: 10px 50px;
  font-family: Andale Mono, monospace;
}

#List .List-item {
  font-family: Andale Mono, monospace;
  font-size: small;
}

#List {
  list-style: none;
  margin: 0 0 0 auto;
}

#List button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

#List li {
  display: inline-block;
  margin: 10px 30px;
}

.popup {
  position: fixed;
  top: 50%;
  Left: 50%;
  transform: translate(-50%, -50%);
}

.contentBox {
  position: relative;
  width: 600px;
  height: 400px;
  background: #fff;
  border-radius: 20px;
  display: flex;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}